<template>
  <div id="app">
    <dev-test></dev-test>
    <dev-test-parallel></dev-test-parallel>
  </div>
</template>

<script>
import DevTest from './components/DevTest'
import DevTestParallel from './components/DevTestParallel'

export default {
  name: 'app',
  data () {
    return {
      //
    }
  },
  components: {
    DevTest,
    DevTestParallel
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
